In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('homeprices.csv')
df.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [3]:
ohe = OneHotEncoder()

In [4]:
transformed = ohe.fit_transform(df[['town']]).toarray()
transformed

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

# as we have three categories so we get three values
**We can get the name of these categories by using the simple categories_ property**

In [5]:
ohe.categories_

[array(['monroe township', 'robinsville', 'west windsor'], dtype=object)]

# Now add the hot encoding Columns into our dataframe

In [7]:
df[ohe.categories_[0]] = transformed
df

               town  area   price  monroe township  robinsville  west windsor
0   monroe township  2600  550000              1.0          0.0           0.0
1   monroe township  3000  565000              1.0          0.0           0.0
2   monroe township  3200  610000              1.0          0.0           0.0
3   monroe township  3600  680000              1.0          0.0           0.0
4   monroe township  4000  725000              1.0          0.0           0.0
5      west windsor  2600  585000              0.0          0.0           1.0
6      west windsor  2800  615000              0.0          0.0           1.0
7      west windsor  3300  650000              0.0          0.0           1.0
8      west windsor  3600  710000              0.0          0.0           1.0
9       robinsville  2600  575000              0.0          1.0           0.0
10      robinsville  2900  600000              0.0          1.0           0.0
11      robinsville  3100  620000              0.0          1.0           0.0
12      robinsville  3600  695000              0.0          1.0           0.0

# similarly drop town and one columns

In [8]:
df.drop(['town', 'west windsor'], axis = 1, inplace = True)
df

    area   price  monroe township  robinsville
0   2600  550000              1.0          0.0
1   3000  565000              1.0          0.0
2   3200  610000              1.0          0.0
3   3600  680000              1.0          0.0
4   4000  725000              1.0          0.0
5   2600  585000              0.0          0.0
6   2800  615000              0.0          0.0
7   3300  650000              0.0          0.0
8   3600  710000              0.0          0.0
9   2600  575000              0.0          1.0
10  2900  600000              0.0          1.0
11  3100  620000              0.0          1.0
12  3600  695000              0.0          1.0

In [9]:
x = df.drop('price', axis = 1)
x.head(2)

   area  monroe township  robinsville
0  2600              1.0          0.0
1  3000              1.0          0.0

In [10]:
y = df.price
y.head(2)

0    550000
1    565000
Name: price, dtype: int64

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [12]:
model.fit(x,y)

LinearRegression()

In [15]:
model.score(x,y)

0.9573929037221873

In [16]:
model.predict([[3400,0,0]])

C:\Users\seher\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([681241.66845839])